---
layout: noSidebarView
title: Post Categories
---

<h1 class="pageTitle">Categories</h1>

{% for category in site.categories %}
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
  {% for node in category[1] %}
    {% if node.title != null %}
      {% if group == null or group == node.group %}
       {% if page.url == node.url %}
       <li class="active"><a href="{{ site.baseurl }}{{ node.url }}" class="active">{{node.title}}</a></li>
       {% else %}
       <li><a href="{{ site.baseurl }}{{ node.url }}">{{node.title}}</a></li>
       {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
